.require {
    color: #666;
}
label small {
    color: #999;
    font-weight: normal;
}

/* .cardType{
    border: 0.1px solid rgb(30, 26, 26);
} */

.container{
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body{
    font-size: medium;
}
.heading , .row{
    margin-bottom: 5%;
}