{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>NGO</title>
    <link rel="stylesheet" href="{%static 'access.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
  
  
    <section class="h-100 gradient-form" style="background-color: #eee;">
    
      {% if messages %}
    <ul style="text-decoration:none ;" class="list-group">
        {% for message in messages %}
        <li{% if message.tags %} class="alert alert-danger"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Note: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                          style="width: 185px;" alt="logo">
                        <h4 class="mt-1 pb-1">Login here</h4>
                        <h3 class="mb-3">For Organisation</h3>
                      </div>
      
                      <form action="/login" method="POST">
                        <!-- <p>Please login to your account</p> -->
                        {% csrf_token %}
      
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example11">Email</label>
                            <input name="ngo_email" type="email" id="form2Example11" class="form-control"
                            placeholder="Phone number or email address" autocomplete="off" />
                        </div>
      
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example22">Password</label>
                            <input name="ngo_password" type="password" id="form2Example22" class="form-control" />
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                          <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p>
                          <a href="/crate_account/ngo" class="btn btn-outline-danger">Create new</a>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">We are more than just a company</h4>
                      <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div> -->
                  <div class="col-lg-6 gradient-custom-2">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                          style="width: 185px;" alt="logo">
                        <h4 class="mt-1 pb-1">Login here</h4>
                        <h3 class="mb-3">As a Philanthropist</h3>

                      </div>
      
                      <form method="POST" action="/login">
                        <!-- <p>Please login to your account</p> -->
                        {% csrf_token %}
      
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example11">Email</label>
                          <input type="email" name="ph_email" id="form2Example11" class="form-control"
                            placeholder="Phone number or email address" autocomplete="off"/>
                        </div>
      
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example22">Password</label>
                          <input type="password" name="ph_password" id="form2Example22" class="form-control" />
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <input class="btn btn-primary btn-block fa-lg btn-dark mb-3" type="submit">
                          <a class="text-muted color-white" href="login">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p>
                          <a href="/crate_account/philanthropist" type="button" class="btn btn-dark">Create new</a>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <!-- see this -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>